
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    color: #333;
    line-height: 1.6;
    background-color: #FFFBF4; /* Background color for the entire page */
}

/* Style the header section */
header {
    background-color: #f3c6c6;
    text-align: center;
    padding: 20px;
}

/* Style the header title */
header h1 {
    font-size: 36px;
    margin-bottom: 10px;
    color: #333;
}

/* Style the header subtitle */
header p {
    font-size: 18px;
    color: #555;
}

/* Style the main content area */
main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    background-color: #F8F3E3; /* Background color for the main content area */
}

/* Style the big titles */
h2 {
    font-size: 28px;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
}

/* Style links */
a {
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

/* Style link colors */
a:link {
    color: #3498db;
}

a:visited {
    color: #764abc;
}

a:hover {
    color: #ff6b6b;
}

/* Style lists */
ul {
    list-style: none;
}

/* Style list items */
li {
    margin-bottom: 10px;
}

/* Style the music mood selector */
.mood-selector {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    background-color: #E3F0E1; /* Background color for the music mood selector */
}

/* Style the music mood selector title */
.mood-selector h2 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
}

/* Style music mood options */
.mood-selector ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* Style each music mood option */
.mood-selector li {
    margin: 10px;
    flex: 0 0 calc(33.33% - 20px);
}

/* Style music mood links */
.mood-link {
    text-decoration: none;
    padding: 20px;
    border-radius: 10px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    display: block;
    text-align: center;
    color: #fff;
}

/* Style music mood descriptions */
.mood-link p {
    font-size: 16px;
    margin-top: 10px;
    color: #fff;
}

/* Add musical note symbol */
.music-lyrics ul li::before {
    content: "♪ "; /* Add a musical note symbol */
}

/* Set custom background and font colors for each region */
#happy .mood-link {
    background-color: #FFD700;
}

#calm .mood-link {
    background-color: #00CED1;
}

#energetic .mood-link {
    background-color: #FF6347;
}

#Anxious .mood-link {
    background-color: #FF0000;
}

#Empty .mood-link {
    background-color: #C0C0C0;
}

/* Style the music player area */
.music-player {
    background-color: #FFDDC1;
    color: #444;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

/* Style the lyrics area */
.music-lyrics {
    background-color: #C5E6A6;
    color: #555;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

/* Style the music recommendation area */
.music-recommendation {
    background-color: #A9DEF9;
    color: #666;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}


.easy-research {
    background-color: #FFB6C1;
    color: #222;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}


footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
}



